DB_HOST=db
DB_NAME=<db_name, change this to your actual database name> # configure this
DB_USER=<db_user, change this to your actual username> # configure this
DB_PASSWORD=<db_password, change this to your actual password> # configure this
SECRET_KEY=<secret_key, generate using `openssl rand -hex 32`> # configure this

TEST_HOST=test
TEST_USER=<test_db_user, change this to your actual test username> # configure this
TEST_PASSWORD=<test_db_password, change this to your actual test password> # configure this
TEST_NAME=<test_db_name, change this to your actual test database name> # configure this

REDIS_HOST=redis
REDIS_PORT=6379

BACKEND_PORT=8000

FRONTEND_PORT=5173
COMPOSE_PROJECT_NAME=noveltl_dev