DB_HOST=db
DB_NAME=<db_name, change this to your actual database name>
DB_USER=<db_user, change this to your actual username>
DB_PASSWORD=<db_password, change this to your actual password>
SECRET_KEY=<secret_key, generate using `openssl rand -hex 32`>

TEST_HOST=test
TEST_USER=<test_db_user, change this to your actual test username>
TEST_PASSWORD=<test_db_password, change this to your actual test password>
TEST_NAME=<test_db_name, change this to your actual test database name>

REDIS_HOST=redis
REDIS_PORT=6379

BACKEND_PORT=8000 # configure this

FRONTEND_PORT=5173 # configure this
COMPOSE_PROJECT_NAME=noveltl_dev  # configure this, it will be used as the prefix for all docker containers and volumes, e.g. noveltl_dev_2_db_1, noveltl_dev_2_db_data, etc.