DB_HOST=db
DB_PORT=5433
DB_NAME=<db_name, change this to your actual database name>
DB_USER=<db_user, change this to your actual username>
DB_PASSWORD=<db_password, change this to your actual password>
SECRET_KEY=<secret_key, generate using `openssl rand -hex 32`>

TEST_HOST=test
TEST_USER=<test_user, change this to your actual test username>
TEST_PASSWORD=<test_password, change this to your actual test password>
TEST_NAME=<test_name, change this to your actual test database name>
TEST_PORT=5434

REDIS_HOST=redis
REDIS_PORT=6379
