COMPOSE_PROJECT_NAME=noveltl_prod_local

DB_NAME=noveltl
DB_USER=noveltl
DB_PASSWORD=replace-with-output-of-openssl-rand-hex-32
SECRET_KEY=replace-with-output-of-openssl-rand-hex-32

SITE_ADDRESS=:80
